#create_event {
  margin-top: 100px;
}
#create_event .dates .date i {
  float: right;
  cursor: pointer;
  display: none;
}
#create_event .dates .date:hover i {
  display: inline-block;
}
#answer_event {
  margin-top: 100px;
}
#answer_event .event-name {
  font-size: 30px;
}
#answer_event .table .name-header {
  cursor: pointer;
  color: blue;
}
#answer_event .modal .answer-date {
  top: 8px;
  position: relative;
}
#answer_event .modal .ans-btns {
  float: right;
}
#answer_event .modal .list-group-item {
  overflow: auto;
}
#answer_event .answer-btn {
  text-align: center;
}
