#create_event {
  margin-top: 100px;
  .dates {
    .date {
      i.del {
        float: right;
        cursor: pointer;
        display: none;
      }
      &:hover i.del {
        display: inline-block;
      }
      .note {
        position: absolute;
        right: 35px;
      }
      .popover-content {
        color: black;
      }
    }
  }
}

#answer_event {
  margin-top: 50px;
  .event-name {
    font-size: 30px;
  }
  .table {
    .name-header {
      cursor: pointer;
      color: blue;
      max-width: 50px;
    }
    thead>tr>th {
      border: none;
    }
    .date-col {
      max-width: 100px;
    }
  }
  .modal {
    .remove {
      float: right;
      h4 {
        display: inline-block;
      }
    }
    .answer-date {
    }
    .ans-btns {
      .note {
        margin: 5px;
      }
    }
    .list-group-item {
      .popover {
        width: 200px;
      }
      .editmemo {
        margin: 0;
      }
    }
  }
  .answer-btn {
    text-align: right;
    .btn {
      // border-radius: 100%;
    }
  }
  .note {
    cursor: pointer;
  }
  #firechat-wrapper {
    .picture {
      border-radius: 100%;
      width: 45px;
      height: 45px;
    }
    .name {
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
    }
    .livetimestamp {
      color: grey;
      font-size: 12px;
      margin-right: 5px;
    }
    .content {
      padding: 10px;
      border-radius: 10px;
      background-color: aliceblue;
    }
    .chat-input {
      .btn-send {
        vertical-align: top;
      }
    }
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
