#create_event {
  margin-top: 100px;
}
#create_event .dates .date i.del {
  float: right;
  cursor: pointer;
  display: none;
}
#create_event .dates .date:hover i.del {
  display: inline-block;
}
#create_event .dates .date .note {
  position: absolute;
  right: 35px;
}
#create_event .dates .date .popover-content {
  color: black;
}
#answer_event {
  margin-top: 50px;
}
#answer_event .event-name {
  font-size: 30px;
}
#answer_event .table .name-header {
  cursor: pointer;
  color: blue;
  max-width: 50px;
}
#answer_event .table thead > tr > th {
  border: none;
}
#answer_event .table .date-col {
  max-width: 100px;
}
#answer_event .modal .remove {
  float: right;
}
#answer_event .modal .remove h4 {
  display: inline-block;
}
#answer_event .modal .ans-btns .note {
  margin: 5px;
}
#answer_event .modal .list-group-item .popover {
  width: 200px;
}
#answer_event .modal .list-group-item .editmemo {
  margin: 0;
}
#answer_event .answer-btn {
  text-align: right;
}
#answer_event .note {
  cursor: pointer;
}
#answer_event #firechat-wrapper .picture {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
#answer_event #firechat-wrapper .name {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
#answer_event #firechat-wrapper .livetimestamp {
  color: grey;
  font-size: 12px;
  margin-right: 5px;
}
#answer_event #firechat-wrapper .content {
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}
#answer_event #firechat-wrapper .chat-input {
  text-align: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
