#create_event {
  margin-top: 100px;
  .dates {
    .date {
      i {
        float: right;
        cursor: pointer;
        display: none;
      }
      &:hover i {
        display: inline-block;
      }
    }
  }
}

#answer_event {
  margin-top: 100px;
  .event-name {
    font-size: 30px;
  }
  .table {
    .name-header {
      cursor: pointer;
      color: blue;
    }
  }
  .modal {
    .answer-date {
      top: 8px;
      position: relative;
    }
    .ans-btns {
      float: right;
    }
    .list-group-item {
      overflow: auto;
    }
  }
  .answer-btn {
    text-align: center;
  }
}
