<div class="answer_event" id="answer_event" data-ng-controller="answerEventController">

  <!-- <a type="button" class="btn btn-lg btn-danger" rel="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    Click to toggle popover
  </a> -->

  <div class="event-head clearfix">
    <div class="event-name pull-left">{{vm.eventData.eventName}}</div>
    <a class="btn btn-edit-event" href="/choseisan2/#/edit/{{_eventId}}"><i class="fa fa-pencil"></i></a>
    <div class="answer-btn pull-right">
      <span class="btn btn-default btn-lg" data-toggle="modal" data-target="#answerModal" data-ng-click="resetPick();"><i class="fa fa-pencil-square-o"></i>&nbsp;Answer</span>
    </div>
  </div>
  <div class="event-des"><p>{{vm.eventData.eventDescription}}</p></div>
  <div class="row">
    <!-- dates list -->
    <!-- <div class="col-md-3">
      <div class="list-group dates">
        <a ng-repeat="date in vm.eventData.dates" class="list-group-item date">
          {{date.date}}
          <span class="note" data-ng-show="date.note" data-placement="top" rel="popover" data-trigger="hover" data-content="{{date.note}}">
            <i class="fa fa-file-text-o"></i>
          </span>
        </a>
      </div>
    </div> -->

    <!-- users answer list -->
    <!-- <div class="col-md-9">
    </div> -->
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Dates</th>
            <th data-ng-repeat="user in vm.users" class="name-header" data-ng-click="pickUser($index)" data-toggle="modal" data-target="#answerModal">{{user.name}}</th>
          </tr>
        </thead>
        <tr data-ng-repeat="date in vm.eventData.dates" data-ng-init="date_ind = $index">
          <td class="date-col">{{date.date}}
            <span class="note" data-ng-show="date.note" data-placement="top" rel="popover" data-trigger="hover" data-content="{{date.note}}">
              <i class="fa fa-file-text-o"></i>
            </span>
          </td>
          <td data-ng-repeat="user in vm.users">
            <label class="btn btn-default"
              data-ng-class="{'btn-success': user.answers[date_ind].ans === '0', 'btn-warning': user.answers[date_ind].ans === '1','btn-danger': user.answers[date_ind].ans === '2'}">
              <i class="fa fa-check" data-ng-show="user.answers[date_ind].ans === '0'"></i>
              <i class="fa fa-circle-o" data-ng-show="user.answers[date_ind].ans === '1'"></i>
              <i class="fa fa-close" data-ng-show="user.answers[date_ind].ans === '2'"></i>
            </label>
            <a class="note" data-ng-show="user.answers[date_ind].note" data-placement="top" rel="popover" data-trigger="hover" data-content="{{user.answers[date_ind].note}}">
              <i class="fa fa-file-text-o"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <!-- Chat -->
  <div data-ng-controller="chatController">
    <div id="firechat-wrapper">
      <!-- Chat contents -->
      <div class="chat-contents clearfix">
        <div class="message-contain" data-ng-repeat="message in vm.messages">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object picture" src="http://graph.facebook.com/{{message.user.id}}/picture" alt="...">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading name">{{message.user.name}}</h4></a>
              <span class="livetimestamp">{{formatTime(message.timestamp)}}</span>
              <p class="content">{{message.content}}</p>
            </div>
          </div>
        </div>

      </div>

      <!-- Chat input -->
      <div class="chat-input">
        <div class="form-group">
          <textarea type="text" class="form-control" placeholder="Your message..." data-ng-model="message"></textarea>
        </div><!-- /input-group -->
        <span class="btn btn-default btn-send" data-ng-click="send(message);">Send</span>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div data-ng-include="'/choseisan2/partials/answerModal.html'"></div>
  <!-- end modal -->
</div>
