<div class="create_event" id="create_event" data-ng-controller="createEventController">
  <form data-ng-submit="submitEvent()">
    <div class="form-group">
      <input class="form-control" id="eventName" data-ng-model="vm.eventName" placeholder="Event">
    </div>
    <div class="form-group">
      <textarea class="form-control" id="eventDescription" data-ng-model="vm.eventDescription" placeholder="Description" rows="5"></textarea>
    </div>
    <!-- <div class="checkbox">
      <label>
        <input type="checkbox"> Subscribe
      </label>
    </div>
    <div class="form-group">
      <label for="subscribeEmail">Email</label>
      <input type="email" class="form-control" id="subscribeEmail" data-ng-model="vm.subscribeEmail" placeholder="Email">
    </div> -->

    <hr>
    <div ui-pick-dates data-ng-model="vm.dates"></div>
    <div ui-pick-location data-ng-model="vm.address"></div>

  </form>
</div>
