<div class="navbar-right" data-ng-controller="userController">

  <!-- <form class="navbar-form navbar-right" id="login-form" role="form"> -->
  	<!-- <input type="hidden" name="redirect_to" value=""> -->
    <!-- Single button -->

    <ul class="nav navbar-nav">

      <div class="btn-group login-group" data-ng-if="!loginStatus">
    	  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>&nbsp;Sign In <span class="caret"></span>
        </button>
    	  <ul class="dropdown-menu" role="menu">
    	    <li><a href="#" data-ng-click="$event.preventDefault();login('facebook');">
    	    	<i class="fa fa-facebook"></i>&nbsp; Facebook
    	    </a></li>
    	  </ul>
    	</div>

      <li class="user user-menu" data-ng-if="loginStatus">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-user"></i>
          <span>{{displayName}} <i class="caret"></i></span>
        </a>
        <!-- Dropdown menu -->
        <ul class="dropdown-menu">
          <li>
            <a href="#" data-ng-click="$event.preventDefault();logout();">Sign out</a>
          </li>
        </ul>
      </li>

    </ul>
  <!-- </form> -->


</div>
