#create_event {
  margin-top: 100px;
  .dates {
    .date {
      i {
        float: right;
        cursor: pointer;
        display: none;
      }
      &:hover i {
        display: inline-block;
      }
    }
  }
}

#answer_event {
  margin-top: 100px;
  .event-name {
    font-size: 30px;
  }
}
